<a href="https://colab.research.google.com/github/srahmawati/srahmawati/blob/main/Pengelanan%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan Python

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk belajar python dengan *fast mode* khusus untuk mahasiswa matematika. 

Gag susah kok, just read, understand, and write your understanding below.
Setelah teman-teman mempelajari sub bagian pada modul ini. Temen-temen silahkan membuat script dan konten video untuk youtube PSDS UAD. 

Video penjelasan modul ini akan segera dikirimkan untuk membantu temen-temen mudah dalam belajar

Semangat ya, mari kita mulai!!!

## [1] Variabel, Tipe Data, Dan Konversinya

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**a.   Membuat sebuah variabel dengan berbagai tipe data Python**

In [ ]:
Tipe data float ini dapat dikatakan sebagai bilangan real dalam matematika

Buat variabelmu sendiri di bawah ini ya!

#memanggil variabel

**b. Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [ ]:
var1

'Hello World!'

Sekarang Panggil Mantanmu, eh variabel yang sudah kamu lupakan, eh tuliskan

In [ ]:
#Memanggil variabel

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Kayak begini:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Hello World!
1234567890
0.123456789
True
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [ ]:
#membuat variabel
var6 = 'bismillahirrah' # string
var7 = 987654321 #int
var8 = 0,987654321 # float
var9 = True #bool
var10 = (1+1j)

In [ ]:
#memanggil variabel
print(var6) #tipe data string
print(var7) #tipe data integer
print(var8) #tipe data float
print(var9) #tipe data boolean
print(var10) #tipe data Complex

bismillahirrah
987654321
(0, 987654321)
True
(1+1j)

In [ ]:
#cek tipe variabel yang dibuat
print(var6,'Tipe data var6:', type(var6))
print(var7,'Tipe data var7:', type(var7))
print(var8,'Tipe data var8:', type(var8))
print(var9,'Tipe data var9:', type(var9))
print(var10,'Tipe data va105:', type(var10))

bismillahirrah Tipe data var6: <class 'str'>
987654321 Tipe data var7: <class 'int'>
(0, 987654321) Tipe data var8: <class 'tuple'>
True Tipe data var9: <class 'bool'>
(1+1j) Tipe data va105: <class 'complex'>

In [ ]:
#Mencetak variabel punya kamuuch

Oh iya btw tanda pagar **#**, itu untuk komen ya, dia berfungsi untuk membuat sebuah pernyataan ada tapi tidak dijalankan oleh program, atau seperti pernyataan yang tidak dianggap oleh python gitu, ya mirip kayak kamu, *ADA, PENTING, BERMANFAAT, tapi tidak dianggap*

### Tipe Data


**Tipe Data:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**a. Melihat Tipe data dari variabel**

Kamu bisa ngecek tipe variabel yang udah kamu buat tipenya seperti apa, pemarah kah baperan kah, easy going or lainnya. Eh maksudnya apakah tipe data kamu adalah int, float, boolean, string, dll dengan fungsi **type(*variabel*)**, sok dicoba:

In [ ]:
type(var1)

str

sekarang coba kamu cek tipe variabel yang udah kamu buat!

In [ ]:
#Mengecek tipe variabel
#String

#Int

#Float

#Boolean

#Complex

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Hello World! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
True Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya, ini gan:

In [ ]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [ ]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  10.0 ,type = <class 'float'>
data =  10 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [ ]:
#Lakukan Proses Konversi dengan kasus lainnya yaa
# menkonversi tipe data float

angka = 12
kon_int = int(angka)
kon_str = str(angka)
kon_bool = bool(angka)

#melihat data dikonversi
print("data = ", kon_int , ",type =", type(kon_int))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  12 ,type = <class 'int'>
data =  12 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

## [2] Berbagai Struktur Data di Python

### List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

In [ ]:
#Bikin versimu sendiri donk, jangan baca doank! heheheh
b = [4, 5, 'python']
b

[4, 5, 'python']

Python mengenal slicing operator [] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan 

index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [ ]:
#Its your time to try
x = [5,7, 8, 10, 20, 25, 18, 15]
print(x[2:7])
print(x[-3])
print(x[4:8])
print(x[:6])
print(x[2:])
print(x[1:7:2])

[8, 10, 20, 25, 18]
25
[20, 25, 18, 15]
[5, 7, 8, 10, 20, 25]
[8, 10, 20, 25, 18, 15]
[7, 10, 25]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

In [ ]:
#Coba versi kamu yaaa
#mengganti elemen
x = [1,2,3]
x[1]=5
print(x)

#menambah elemen
x=[1,2,3,4]
x[3]=5
x.append(5)
print(x)

[1, 5, 3]
[1, 2, 3, 5, 5]

Untuk menghapus item pada list, gunakan fungsi del. Ingat bahwa Indeks Python dimulai dari 0:

In [ ]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

In [ ]:
#Do it by yourself

buah = ['jeruk', 'salak', 'pepaya', 'apel']
del buah[3]
print(buah)

['jeruk', 'salak', 'pepaya']

Coba tambahkan kembali:

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

In [ ]:
#Cobain yaach!
del buah[3]
print(buah)

IndexError: ignored

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

o
World
Halo Dunia!

In [ ]:
s[5]="d" 		#ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

In [ ]:
#Cobain yaach!

### Tuple

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

In [ ]:
#bikin sendiri donk, kreatif dikit napa

### Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

TypeError: ignored

### Dictionary

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Generates error
print("d[2] = ", d[2]);

KeyError: ignored

In [ ]:
#bikin versimu sendiri yaaa

### Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:

## Operasi Matematika Pada Python

Nah untuk ini, sebenernya udah pada bisa lah yaa, ya kayak matlab dan r lah, di piton bisa juga kok dipake buat ngitung-ngitung kayak kalkulator, cuma ya gitu, beda sintaksnya doank

**Operasi Matematika**

In [ ]:
# TIPE DATA NUMBER
import math
print("===============TIPE DATA NUMBER===============")
# Number adalah tipe data python yang menyimpan nilai numerik. number adalah tipe data yang tidak berubah. ini artinya, mengubah nilai dari sejumlah tipe data akan menghasilkan objek yang baru dialokasikan.

# Tipe data number diantaranya: int(), float(), dan complex()

# Fungsi matematika di tipe data number
print("===============FUNGSI MATEMATIKA===============")
# sebelum menggunakan fungsi matematika, kita akan import terlebih dahulu modul math (kalau pun tidak import, juga tidak masalah)
# Operator Matematika (+, -, /, //, *, **, %)

# fungsi-fungsinya:
# fungsi absolut : abs(x)
# fungsi ceiling  : ceil(x)
# fungsi eksponensial : exp(x)
# fungsi logaritma : log(x) dan log10()
# fungsi maximal : max()
# fungsi minimal : min()
# fungsi pangkat : pow(x, y)
# fungsi round (pembulatan kebawah jika < 0.5) : round()
# fungsi kuadrat : sqrt()
# fungsi trigonometri : sin(), cos(), tan(), radians(), dll


# konstanta
print("pi = ", math.pi)
print("e = ", math.e)

# fungsi pangkat
print(math.pow(3, 2))

# fungsi akar kuadrat
print(math.sqrt(9))

# fungsi logaritma
print(math.log(9))

# fungsi trigonometri
print(math.sin(math.radians(90)))

# fungsi absolut
print(abs(-10))
print(abs(10))

# fungsi ceiling : untuk membulatkan kebawah
print(math.ceil(-5.25))
print(math.ceil(5.25))
print(math.ceil(5.75))

# fungsi eksponensial
print(math.exp(1))
print(math.exp(-1))

# fungsi lainnya dilanjutkan

# Fungsi khusus acak : biasa digunakan untuk aplikasi permainan, simulasi, pengujian, keamanan, dan privasi. diantaranya:
# fungsi choice untuk item acak dari list, tuple, atau string : choice(seq)
# fungsi randrange untuk elemen yang dipilih secara acak dari jangkauan : randrange([start,]stop[,step])
# fungsi random : random()
# fungsi untuk menetapkan nilai awal integer yang digunakan dalam menghasilkan bilangan acak. panggil fungsi ini sebelum memanggil fungsi modul acak lainnya. tidak ada pengembalian : seed([])
# fungsi floor untuk nilai dasar dari x, dan int terbesar tidak lebih besar dari x : floor()
# fungsi uniform untuk sebuah float acak r, sedemikian rupa sehingga x kurang dari atau sama dengan r dan r kurang dari y : uniform(x,y)

## Membuat Fungsi Pada Python

## Percabangan

## Looping

## DataFrame

## Input Output

## Mengakses file csv, xls, dll menggunakan python